* {
    box-sizing: border-box;
}
#body-div {
    display: flex;
    width: 75%;
    margin: auto auto auto 10%;
}
#tabs {
    margin-top: 25px;
    text-align: center;
    flex: 1;
}
.tab {
    font-family: Georgia, serif;
    width: 80%;
    background-color: #f2f2f2;
    padding: 16px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: #aaaaaa solid 1px;
    transition: .3s;
}
.tab.active {
    background-color: #434343;
    color: white;
}
.tab:hover {
    background-color: #3c963c;
    color: white;
    cursor: auto;
}
#tab-news {
    border-radius: 5px 5px 0 0;
}
#tab-search {
    margin-top: -1px;
    border-radius: 0 0 5px 5px;
}
#news {
    display: flex;
    flex: 3;
    margin-bottom: 5%;
    flex-direction: column;
}
.top-col {
    float: left;
    margin-bottom: 0;
}
#top-col-news {
    width: 55%;
    margin-right: 10px;
}
#top-col-wc {
    width: 35%;
    display: block;
    margin-left: 10px;
}
svg {
    background-color: #f2f2f2;
}
.generic-headline {
    position: relative;
}
.generic-headline .gh-img {
    width: 100%;
    height: 250px;
    bottom: 0;
    margin-bottom: -5px;
}
.text-block {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
}
.text-block p {
    font-size: 16px;
    margin-bottom: 10px;
}
.text-block h2 {
    font-size: 18px;
}
#top-row {
    margin: 25px 0 0 0;
}
.top-card {
    text-align: center;
}
#top-content {
    margin-bottom: 50px;
}
.cnn-fox-header {
    margin-bottom: 0;
    text-align: center;
}
.headlines {
    display: flex;
    border-top: 2px dotted;
    margin-top: 5px;
    padding-top: 10px;
}
.hl-col {
    flex: 1;
}
a.hl-link:any-link {
    text-decoration: none;
}
.hl-card {
    margin: 5px;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    border-color: #828282;
    border-radius: 5px;
}
.hl-card img {
    width: 101%;
    height: 22%;
    border-radius: 5px;
}
.hl-text-container {
    text-align: center;
    /* TODO: use flexbox to auto-adjust height */
    height: 500px;
    overflow: hidden;
    color: black;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.hl-text-container .hl-title, .hl-text-container p {
    padding: 5px;
    margin: 10px 0 10px 0;
}
#search {
    margin-top: 25px;
    margin-bottom: 5%;
    flex: 3;
    flex-direction: column;
}
#search-box {
    flex: 1;
}
#search-form {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}
#search-kw-date label:after {
    content: " *";
    color: red;
}
#search-kw-date input {
    border: none;
    margin: 0 20px 0 20px;
    height: 25px;
    border-radius: 1px;
}
#search-cat-src select {
    text-align: center;
    margin: 0 10px 0 10px;
}
#search-cat-src #source {
    width: 100px;
}
#search-submit input {
    background-color: #ededed;
    border: none;
    width: 10%;
    height: 25px;
    margin: 0 1% 0 1%;
    font-size: 10pt;
    transition: .3s;
}
#search-submit input:hover {
    background-color: #3c9634;
    color: white;
}
#search-results {
    position: relative;
    margin-top: 5%;
}
#search-results .no-results {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
#search-results .result-card {
    border: 1px solid #9f9b9b;
    border-radius: 5px;
    height: 120px;
    background-color: #ebebeb;
    margin: 10px 30px;
    display: grid;
    grid-template-columns: 120px auto 20px;
    z-index: 0;
}
#search-results .result-card:hover {
    box-shadow:0 10px 25px 0 #787878;
    cursor: pointer;
    z-index: 1;
}
#search-results .result-card.expanded {
    height: 100%;
    overflow: auto;
}
.result-img-div {
    float: left;
    width: 120px;
    height: 100%;
}
.result-img-div img {
    margin: 20px;
    width: 80px;
    height: 80px;
}
.result-text-div {
    padding: 15px;
    height: 100%;
}
.result-text-div h3 {
    margin: 0;
    font-size: 14pt;
}
.result-text-div p, .result-text-div a {
    margin: 5px 0 5px 0;
    font-size: 11pt;
}
.result-text-div p.desc-p{
    display: -webkit-box;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.close-sign {
    font-size: 20pt;
    font-family: Arial, sans-serif;
    text-decoration: none;
    margin-top: -3px;
}
#show-more-less-button {
    display: block;
    margin: 0 auto;
    width: 13%;
    text-align: center;
    background-color: #e6e6e6;
    border: none;
    padding: 10px;
}
#show-more-less-button:hover {
    background-color: #3c963c;
    color: white;
}